USE [master]
GO
/****** Object:  Database [Assignment_HE163767]    Script Date: 7/17/2022 10:12:22 PM ******/
CREATE DATABASE [Assignment_HE163767]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Assignment_HE163767', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Assignment_HE163767.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Assignment_HE163767_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Assignment_HE163767_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Assignment_HE163767].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Assignment_HE163767]
GO
/****** Object:  Table [dbo].[ACADEMIC]    Script Date: 7/17/2022 10:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACADEMIC](
	[NO.] [varchar](10) NOT NULL,
	[SesID] [varchar](10) NOT NULL,
	[SubID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ACADEMIC] PRIMARY KEY CLUSTERED 
(
	[NO.] ASC,
	[SesID] ASC,
	[SubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assessment]    Script Date: 7/17/2022 10:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assessment](
	[AssID] [varchar](50) NOT NULL,
	[Duration] [varchar](50) NULL,
	[No Question] [int] NULL,
	[Weight] [float] NULL,
	[Part] [int] NULL,
	[CLO] [nvarchar](max) NULL,
	[CategoryID] [varchar](50) NULL,
	[SubID] [varchar](10) NULL,
 CONSTRAINT [PK_Assessment] PRIMARY KEY CLUSTERED 
(
	[AssID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 7/17/2022 10:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [varchar](50) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
	[Type] [varchar](50) NULL,
	[Completion Criteria] [nchar](10) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENROLL]    Script Date: 7/17/2022 10:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENROLL](
	[GroupID] [varchar](10) NOT NULL,
	[SesID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_ENROLL] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC,
	[SesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRADE]    Script Date: 7/17/2022 10:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADE](
	[StudentID] [varchar](10) NOT NULL,
	[SubID] [varchar](10) NOT NULL,
	[WeightID] [varchar](50) NOT NULL,
	[Value] [float] NULL,
	[Status] [nvarchar](max) NULL,
	[Date] [date] NULL,
 CONSTRAINT [PK_GRADE] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[WeightID] ASC,
	[SubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 7/17/2022 10:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[GroupID] [varchar](10) NOT NULL,
	[GroupName] [varchar](50) NULL,
	[Major] [varchar](50) NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Instruct]    Script Date: 7/17/2022 10:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Instruct](
	[InstructID] [varchar](50) NOT NULL,
	[Know_Skill] [nvarchar](max) NULL,
	[Grading_Guide] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[CategoryID] [varchar](50) NULL,
 CONSTRAINT [PK_Instruct] PRIMARY KEY CLUSTERED 
(
	[InstructID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JOIN]    Script Date: 7/17/2022 10:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOIN](
	[StudentID] [varchar](10) NOT NULL,
	[GroupID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_JOIN] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 7/17/2022 10:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[SesID] [varchar](10) NOT NULL,
	[SesName] [nvarchar](50) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_Semester] PRIMARY KEY CLUSTERED 
(
	[SesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHOW]    Script Date: 7/17/2022 10:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHOW](
	[StudentID] [varchar](10) NOT NULL,
	[SesID] [varchar](10) NOT NULL,
	[Average] [float] NULL,
	[Ranking] [varchar](50) NULL,
 CONSTRAINT [PK_Show] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC,
	[SesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 7/17/2022 10:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [varchar](10) NOT NULL,
	[FName] [nvarchar](50) NULL,
	[LName] [nvarchar](50) NULL,
	[Gender] [bit] NULL,
	[Email] [varchar](50) NULL,
	[DoB] [date] NULL,
	[Address] [nvarchar](50) NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 7/17/2022 10:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[SubID] [varchar](10) NOT NULL,
	[SubName] [nvarchar](50) NULL,
	[Sub_Status] [nvarchar](50) NULL,
	[InstructID] [varchar](50) NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[SubID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Weight]    Script Date: 7/17/2022 10:12:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Weight](
	[WeightID] [varchar](50) NOT NULL,
	[weight_details] [float] NULL,
	[weightName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Weight] PRIMARY KEY CLUSTERED 
(
	[WeightID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[ACADEMIC] ([NO.], [SesID], [SubID]) VALUES (N'1', N'SP22', N'SSL101c')
INSERT [dbo].[ACADEMIC] ([NO.], [SesID], [SubID]) VALUES (N'10', N'FA22', N'AIG201c')
INSERT [dbo].[ACADEMIC] ([NO.], [SesID], [SubID]) VALUES (N'11', N'FA22', N'JPD113')
GO
INSERT [dbo].[Assessment] ([AssID], [Duration], [No Question], [Weight], [Part], [CLO], [CategoryID], [SubID]) VALUES (N'CEA201_ASS', N'Follow lecturers proposal', 0, 0.3, 2, NULL, N'ASS', N'CEA201')
INSERT [dbo].[Assessment] ([AssID], [Duration], [No Question], [Weight], [Part], [CLO], [CategoryID], [SubID]) VALUES (N'CEA201_Ex', N'Follow lecturers proposal', 0, 0.3, 4, NULL, N'Ex', N'CEA201')
INSERT [dbo].[Assessment] ([AssID], [Duration], [No Question], [Weight], [Part], [CLO], [CategoryID], [SubID]) VALUES (N'CEA201_FE', N'60 mins', 50, 0.4, 1, NULL, N'FE', N'CEA201')
GO
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Type], [Completion Criteria]) VALUES (N'ASS', N'Assignment ', N'On-Going', N'>0        ')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Type], [Completion Criteria]) VALUES (N'ASS1', N'Assignment 1', N'On-Going', N'>0        ')
INSERT [dbo].[Category] ([CategoryID], [CategoryName], [Type], [Completion Criteria]) VALUES (N'ASS2', N'Assignment 2', N'On-Going', N'>0        ')
GO
INSERT [dbo].[ENROLL] ([GroupID], [SesID]) VALUES (N'AI1607', N'FA22')
INSERT [dbo].[ENROLL] ([GroupID], [SesID]) VALUES (N'AI1607', N'SP22')
INSERT [dbo].[ENROLL] ([GroupID], [SesID]) VALUES (N'AI1607', N'SU22')
GO
INSERT [dbo].[GRADE] ([StudentID], [SubID], [WeightID], [Value], [Status], [Date]) VALUES (N'HA1001', N'SSL101c', N'ASS1', 6.4, NULL, NULL)
INSERT [dbo].[GRADE] ([StudentID], [SubID], [WeightID], [Value], [Status], [Date]) VALUES (N'HA1001', N'SSL101c', N'ASS2', 7.8, NULL, NULL)
INSERT [dbo].[GRADE] ([StudentID], [SubID], [WeightID], [Value], [Status], [Date]) VALUES (N'HA1001', N'SSL101c', N'ASS3', 8.2, NULL, NULL)
GO
INSERT [dbo].[Group] ([GroupID], [GroupName], [Major]) VALUES (N'AI1607', NULL, N'Artificial Intelligence')
INSERT [dbo].[Group] ([GroupID], [GroupName], [Major]) VALUES (N'AI1701', NULL, N'Artificial Intelligence')
INSERT [dbo].[Group] ([GroupID], [GroupName], [Major]) VALUES (N'IA1604', NULL, N'Information Assurance')
GO
INSERT [dbo].[JOIN] ([StudentID], [GroupID]) VALUES (N'HA1001', N'IA1604')
INSERT [dbo].[JOIN] ([StudentID], [GroupID]) VALUES (N'HA1002', N'IA1604')
INSERT [dbo].[JOIN] ([StudentID], [GroupID]) VALUES (N'HA1003', N'IA1604')
GO
INSERT [dbo].[Semester] ([SesID], [SesName], [StartDate], [EndDate]) VALUES (N'FA21', N'Fall2021', CAST(N'2021-09-06' AS Date), CAST(N'2021-11-16' AS Date))
INSERT [dbo].[Semester] ([SesID], [SesName], [StartDate], [EndDate]) VALUES (N'FA22', N'Fall2022', CAST(N'2022-09-06' AS Date), CAST(N'2022-11-16' AS Date))
INSERT [dbo].[Semester] ([SesID], [SesName], [StartDate], [EndDate]) VALUES (N'SP22', N'Spring2022', CAST(N'2022-01-04' AS Date), CAST(N'2022-03-14' AS Date))
GO
INSERT [dbo].[Students] ([StudentID], [FName], [LName], [Gender], [Email], [DoB], [Address]) VALUES (N'HA1001', N'Dung', N'Lê Kim', 0, N'dungdung@gmail.com', CAST(N'2001-03-13' AS Date), N'Hòa Bình')
INSERT [dbo].[Students] ([StudentID], [FName], [LName], [Gender], [Email], [DoB], [Address]) VALUES (N'HA1002', N'Khải', N'Nguyễn Văn', 1, N'khaikhai@gmail.com', CAST(N'2001-04-14' AS Date), N'Tuyên Quang')
INSERT [dbo].[Students] ([StudentID], [FName], [LName], [Gender], [Email], [DoB], [Address]) VALUES (N'HA1003', N'Tuấn', N'Đào Văn', 1, N'tuanvm@gmail.com', CAST(N'2002-01-25' AS Date), N'Thái Nguyên')
GO
INSERT [dbo].[Subject] ([SubID], [SubName], [Sub_Status], [InstructID]) VALUES (N'AIG201c', N'Artificial Intelligence', NULL, NULL)
INSERT [dbo].[Subject] ([SubID], [SubName], [Sub_Status], [InstructID]) VALUES (N'CEA201', N'Computer Organization and Architecture', NULL, NULL)
INSERT [dbo].[Subject] ([SubID], [SubName], [Sub_Status], [InstructID]) VALUES (N'CSD203', N'Data Structures and Algorithm with Python', NULL, NULL)
GO
INSERT [dbo].[Weight] ([WeightID], [weight_details], [weightName]) VALUES (N'ASS1', 0.1, N'Assignment 1')
INSERT [dbo].[Weight] ([WeightID], [weight_details], [weightName]) VALUES (N'ASS2', 0.1, N'Assignment 2')
INSERT [dbo].[Weight] ([WeightID], [weight_details], [weightName]) VALUES (N'ASS3', 0.1, N'Assignment 3')
GO
ALTER TABLE [dbo].[ACADEMIC]  WITH CHECK ADD  CONSTRAINT [FK_ACADEMIC_Semester] FOREIGN KEY([SesID])
REFERENCES [dbo].[Semester] ([SesID])
GO
ALTER TABLE [dbo].[ACADEMIC] CHECK CONSTRAINT [FK_ACADEMIC_Semester]
GO
ALTER TABLE [dbo].[ACADEMIC]  WITH CHECK ADD  CONSTRAINT [FK_ACADEMIC_Subject] FOREIGN KEY([SubID])
REFERENCES [dbo].[Subject] ([SubID])
GO
ALTER TABLE [dbo].[ACADEMIC] CHECK CONSTRAINT [FK_ACADEMIC_Subject]
GO
ALTER TABLE [dbo].[Assessment]  WITH CHECK ADD  CONSTRAINT [FK_Assessment_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Assessment] CHECK CONSTRAINT [FK_Assessment_Category]
GO
ALTER TABLE [dbo].[ENROLL]  WITH CHECK ADD  CONSTRAINT [FK_ENROLL_Group] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Group] ([GroupID])
GO
ALTER TABLE [dbo].[ENROLL] CHECK CONSTRAINT [FK_ENROLL_Group]
GO
ALTER TABLE [dbo].[ENROLL]  WITH CHECK ADD  CONSTRAINT [FK_ENROLL_Semester] FOREIGN KEY([SesID])
REFERENCES [dbo].[Semester] ([SesID])
GO
ALTER TABLE [dbo].[ENROLL] CHECK CONSTRAINT [FK_ENROLL_Semester]
GO
ALTER TABLE [dbo].[GRADE]  WITH CHECK ADD  CONSTRAINT [FK_GRADE_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[GRADE] CHECK CONSTRAINT [FK_GRADE_Students]
GO
ALTER TABLE [dbo].[GRADE]  WITH CHECK ADD  CONSTRAINT [FK_GRADE_Subject] FOREIGN KEY([SubID])
REFERENCES [dbo].[Subject] ([SubID])
GO
ALTER TABLE [dbo].[GRADE] CHECK CONSTRAINT [FK_GRADE_Subject]
GO
ALTER TABLE [dbo].[GRADE]  WITH CHECK ADD  CONSTRAINT [FK_GRADE_Weight] FOREIGN KEY([WeightID])
REFERENCES [dbo].[Weight] ([WeightID])
GO
ALTER TABLE [dbo].[GRADE] CHECK CONSTRAINT [FK_GRADE_Weight]
GO
ALTER TABLE [dbo].[Instruct]  WITH CHECK ADD  CONSTRAINT [FK_Instruct_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Instruct] CHECK CONSTRAINT [FK_Instruct_Category]
GO
ALTER TABLE [dbo].[JOIN]  WITH CHECK ADD  CONSTRAINT [FK_JOIN_Group] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Group] ([GroupID])
GO
ALTER TABLE [dbo].[JOIN] CHECK CONSTRAINT [FK_JOIN_Group]
GO
ALTER TABLE [dbo].[JOIN]  WITH CHECK ADD  CONSTRAINT [FK_JOIN_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[JOIN] CHECK CONSTRAINT [FK_JOIN_Students]
GO
ALTER TABLE [dbo].[SHOW]  WITH CHECK ADD  CONSTRAINT [FK_SHOW_Semester] FOREIGN KEY([SesID])
REFERENCES [dbo].[Semester] ([SesID])
GO
ALTER TABLE [dbo].[SHOW] CHECK CONSTRAINT [FK_SHOW_Semester]
GO
ALTER TABLE [dbo].[SHOW]  WITH CHECK ADD  CONSTRAINT [FK_SHOW_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[SHOW] CHECK CONSTRAINT [FK_SHOW_Students]
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD  CONSTRAINT [FK_Subject_Instruct] FOREIGN KEY([InstructID])
REFERENCES [dbo].[Instruct] ([InstructID])
GO
ALTER TABLE [dbo].[Subject] CHECK CONSTRAINT [FK_Subject_Instruct]
GO
USE [master]
GO
